@font-face {
    font-family: 'robotolight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/Roboto-Medium-webfont.eot');
    src: url('fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shrikhandregular';
    src: url('fonts/shrikhand-regular-webfont.eot');
    src: url('fonts/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/shrikhand-regular-webfont.woff') format('woff'),
         url('fonts/shrikhand-regular-webfont.ttf') format('truetype'),
         url('fonts/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
}

header
{
    margin-top: 20px;
    margin-bottom: 20px;
}

header i
{
    margin-left: 20px;
    color: #5E5D5D;
    font-size: 1.2rem;
}

.menu_logo
{
    height: 28px;
    display: flex;
    justify-content: center;
    margin-top: -21px;
}

main
{
    background-color: #F6F6F6;
}

.illustration img
{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.illustration h2
{
    font-family: 'shrikhandregular', sans-serif;
    font-weight: 90;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 30px;
}

.illustration i
{
    margin-top: 5px;
}

.menu h2
{
    font-family: 'robotolight', sans-serif;
    font-size: 1rem;
    margin-left: 15px;
}

footer
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #353434;
    width: 100%;
    padding-bottom: 20px;
}

footer h1
{
    font-family: 'shrikhandregular', sans-serif;
    color: white;
    font-size: 1.1rem;
    padding-left: 15px;
    margin-top: 20px;
}

footer  a
{
    color: white;
    text-decoration: none;   
    font-family: 'robotomedium', sans-serif;
    font-size: .9rem;
    padding-left: 15px;
    margin-bottom: 10px;
}

footer i
{
    padding-right: 10px;
}